<h1>{{title}}</h1>
<small>
  <span class="author">by {{author.name}}</span>&nbsp;
  <span class="date">({{format-date-from-now date}})</span>
</small>

<hr>

<div class='intro'>
  {{format-markdown excerpt}}
</div>

<div class='below-the-fold'>
  {{format-markdown body}}
</div>
