<header class="Header Header--cozy u-sansSerif u-grayBotBorder u-blackBkg">
  <div class="Box u-cf">
    {{#link-to 'index'}}
      <img class="Header-logo" src="http://pixelhandler.com/images/pixelhandler-logo.png">
    {{/link-to}}
    <div class="Header-title u-whiteTxt">
      {{#link-to 'index'}}Pixelhandler's Blog{{/link-to}}
    </div>
    <div class="Header-subTitle u-medGrayTxt">
      Pushin&apos; &amp; pullin&apos; pixels on the web
    </div>
  </div>
</header>

<div {{bind-attr class=":Blog-body isTwoColumns:Blog-body--two-col"}}>
  <main {{bind-attr class=":Blog-content isTwoColumns:Blog-content--two-col :u-blackTxt :u-offWhiteBkg"}}>
    <article class="Box">
      {{outlet}}
    </article>
  </main>

  <nav {{bind-attr class=":Blog-nav isTwoColumns:Blog-nav--two-col :u-blackTxt :u-grayBkg :u-offWhiteLtBorder"}}>
    {{render "recent" this}}
    {{partial "links"}}
    {{#if isLoggedIn}}
      {{partial "admin/menu"}}
    {{/if}}
    <button class="u-button u-button--sm u-button--reverse u-button--desktop" {{action toggleAside}}>{{asideDisplayButton}}</button>
  </nav>
</div>

<footer class="Footer u-sansSerif u-medGrayTxt u-textCenter u-blackBkg u-grayTopBorder">
  <p class="Footer-credits">
    {{#unless showLogin}}
      The End.
      <small>[Personal blog, Copyright @2014 Bill Heaton] |
        <span {{action "enableAdmin"}} class="u-grayTxt u-clickable u-enableAdmin">Admin</span>
      </small>
    {{else}}
      <small>
        {{#unless isLoggedIn}}
          <form {{action "login" view on="submit"}} class="Footer-form">
          <label for="username">Username</label>: {{input value=username name="username"}}
          <label for="password">Password</label>: {{input value=password name="password" type="password"}}
          <input type="submit" class="Footer-form-button u-grayTxt u-clickable u-login" value="Login">
          <input {{action "disableAdmin"}} class="Footer-form-button u-grayTxt u-clickable u-disableAdmin" value="Cancel">
          </form>
        {{else}}
          <span {{action "logout"}} class="u-grayTxt u-clickable u-logout">Logout</span>
        {{/unless}}
        {{#if error}}
          <span class="u-redTxt">{{error}}</span>
        {{/if}}
      </small>
    {{/unless}}
  </p>
</footer>
