<h3>Metrics: Peformance Measurements & Analytics</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Ember</th>
      <th>Pathname</th>
      <th>Duration</th>
      <th>User Agent</th>
    </tr>
  </thead>
  <tbody>
    {{#each metric in model}}
    <tr>
      <td>{{metric.date}}</td>
      <td>{{metric.name}}</td>
      <td>{{metric.emberVersion}}</td>
      <td>{{metric.pathname}}</td>
      <td>{{metric.duration}}</td>
      <td>{{metric.userAgent}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
