<h1>{{title}}</h1>
<small>
  <span class="author">by {{author.name}}</span>&nbsp;
  <span class="date">({{format-date-from-now date}})</span>
  {{#if isLoggedIn}}
    <span class="edit">
      {{#link-to "admin.edit" this class="u-button u-button--sm u-button--reverse u-edit"}}Edit{{/link-to}}
    </span>
  {{/if}}
</small>

<hr>

{{#if excerpt}}
  <div class='intro'>
    {{format-markdown excerpt}}
  </div>
{{/if}}
{{#if body}}
  <div class='below-the-fold'>
    {{format-markdown body}}
  </div>
{{/if}}

<div id="disqus_thread"></div>