<hr>
{{#if error}}
  <span class="u-redTxt">{{error}}</span>
{{/if}}
<h3>Comments</h3>
{{#unless isCommenterAuthorized}}
  <p>To post a comment, start by entering your name and email.</p>
  <form {{action "authorize" on="submit"}} class="Comments-form">
    {{input value=username name="username" type="text" required=true min="4" placeholder="What's your name?"}}
    {{input value=email name="email" type="email" required=true placeholder="What's your email?"}}
    <input type="submit" class="u-blueTxt u-clickable u-button" value="ok">
  </form>
{{else}}
  <form {{action "submitComment" model on="submit"}} class="Comments-form">
    {{textarea
      name="comment"
      required=true
      min="2"
      spellcheck="true"
      placeholder="What's on your mind?"
      class="Comments-form-text"
      value=commentText
    }}
    <input type="submit" class="u-clickable u-button u-save" value="submit">
    <em>Comments are moderated.</em>
  </form>
  <br>
  <p>
    <a {{action "deauthorize"}} class="u-grayTxt u-clickable u-button">Logout</a>
  </p>
{{/unless}}
<br>
{{#if model}}
  <ul class="Comments">
  {{#each model key="id" as |comment|}}
    <li class="Comments-item">
      <span class="Comments-item-date">{{format-date-from-now comment.date}}</span>
      {{#with comment.commenter as |commenter|}}
        <span class="Comments-item-avatar">
          <img src="http://www.gravatar.com/avatar/{{commenter.hash}}?r=g&d=mm&s=50" />
        </span>
        <span class="Comments-item-username">by <strong>{{commenter.name}}</strong>…</span>
      {{/with}}
      <p class="Comments-item-body">{{comment.body}}</p>
    </li>
  {{/each}}
  </ul>
{{else}}
  <p>No comments yet, get the conversation started…</p>
{{/if}}
