{{title "Pixelhandler's Blog" separator=" > "}}

{{partial "header"}}

<div class="Blog-body u-blackTxt u-offWhiteBkg {{if isTwoColumns 'Blog-body--two-col'}}">
  <main class="Blog-content u-blackTxt u-offWhiteBkg {{if isTwoColumns 'Blog-content--two-col'}}">
    <article class="Box">
      {{outlet}}
    </article>
  </main>

  <nav class="Blog-nav u-blackTxt u-offWhiteRtBorder {{if isTwoColumns 'Blog-nav--two-col'}}">
    {{render "recent" model}}
    {{!recent model=model}}
    {{partial "links"}}
    <button class="u-button u-button--sm u-button--reverse u-button--desktop" {{action "toggleAside"}}>{{asideDisplayButton}}</button>
  </nav>
</div>

{{partial "footer"}}
