{{partial "header"}}

<div {{bind-attr class=":Blog-body isTwoColumns:Blog-body--two-col"}}>
  <main {{bind-attr class=":Blog-content isTwoColumns:Blog-content--two-col :u-blackTxt :u-offWhiteBkg"}}>
    <article class="Box">
      {{outlet}}
    </article>
  </main>

  <nav {{bind-attr class=":Blog-nav isTwoColumns:Blog-nav--two-col :u-blackTxt :u-grayBkg :u-offWhiteLtBorder"}}>
    {{render "recent" model}}
    {{partial "links"}}
    {{#if isLoggedIn}}
      {{partial "admin/menu"}}
    {{/if}}
    <button class="u-button u-button--sm u-button--reverse u-button--desktop" {{action "toggleAside"}}>{{asideDisplayButton}}</button>
  </nav>
</div>

{{partial "footer"}}
