{{title "Recent Posts"}}

{{#each model key="@identity" as |post|}}
  <div class="Blog-excerpt" data-id="{{post.id}}">
    <h2 class="Blog-excerpt-title u-blackTxt u-sansSerif">
      {{#link-to "post" post}}{{post.title}}{{/link-to}}
    </h2>
    <section class="Blog-excerpt-summary u-serif">
      {{markdown-to-html markdown=post.excerpt}}
    </section>
    {{#if post.tags}}
      <ul class="Blog-excerpt-tags">
        {{#each post.tags as |tag|}}
          <li class="Blog-excerpt-tags-item" data-id={{tag.id}} data-slug={{tag.slug}}>
            {{#link-to "tag.excerpts" tag class="u-button"}}{{tag.name}}{{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
    {{#link-to "post" post class="u-button u-cf"}}Read on →{{/link-to}}
  </div>
{{/each}}

{{#unless model.length}}
  <h2>No results</h2>
{{/unless}}

{{has-more-button hasMore=hasMore loadingMore=loadingMore}}

{{outlet}}
